@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>ToDo List</h1>

<div class="card mb-3">
    <div class="card-header">
        <h3>ToDo Lists</h3>
    </div>
    <div class="card-body">
        <div>Description</div>
        <hr />
        <div>
            <table class="table">
                <thead>
                    <tr>
                       
                        <th>Title</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ToDo List #1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Add New Task</button>
    </div>
</div>

@* ----------------------------------------------------- *@

<div class="card mb-3">
    <div class="card-header">
        <h3>My own ToDo List</h3>
    </div>
    <div class="card-body">
        <div>Content</div>
		<hr />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>IsDone</th>
                    </tr>
                </thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Sample Task</td>
						<td>false</td>
					</tr>
                </tbody>
			</table>
        </div>
	</div>
    <div class="card-footer">
		<button class="btn btn-primary">Add New Task</button>
    </div>
</div>